<div
  class="d-flex flex-column align-items-center justify-content-center"
  style="margin-top: 100px;"
>
  <h1 class="mb-3">Oauth2 Login Page</h1>
  <form action="/oauth2/login" + method="post">
    {{#if message}}
      <p class="alert alert-danger">{{message}}</p>
    {{/if}}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value="un1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        value="123"
      />
    </div>
    <input
      type="text"
      class="form-control"
      name="redirect_uri"
      value="{{redirect_uri}}"
      hidden
    />
    <input
      type="text"
      class="form-control"
      name="client_id"
      value="{{client_id}}"
      hidden
    />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>