<style>
  .avatar{ position: relative; z-index: 1; } .avatar-form{ position: absolute;
  width: 90%; right: 5%; bottom: 10px; z-index: 2; }
</style>

<div class="p-2 d-flex flex-column h-100 align-items-center">
  <nav
    class="w-100 navbar navbar-expand-lg navbar-light d-flex flex-row rounded border p-2 align-items-center"
  >
    <div class="flex-grow-1 d-flex flex-row align-items-center">
      <a class="nav-link disabled" href="/">Edit profile</a>
      <a class="nav-link" href="/credentials">Credentials</a>
    </div>
    <form action="/logout" method="post" class="m-0">
      <button type="submit" class="btn btn-warning">Logout</button>
    </form>
  </nav>
  {{#if client}}
    <div
      class="mt-3 d-flex flex-column flex-grow-1 w-50 justify-content-center"
    >
      <form
        action="/credentials"
        method="post"
        class="rounded border bg-light p-2"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Your client id</label>
          <input
            type="text"
            class="form-control"
            value="{{client.client_id}}"
            readonly
            disabled
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Your client secret</label>
          <input
            type="text"
            placeholder="Enter new password"
            class="form-control"
            value="{{client.client_secret}}"
            readonly
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="redirectUri" class="form-label">Redirect uri</label>
          <input
            type="text"
            id="redirectUri"
            class="form-control"
            aria-describedby="redirectUriHelpBlock"
            name="redirect_uri"
            placeholder="Enter redirect uri"
            value="{{client.redirect_uri}}"
            required
          />
          <div id="redirectUriHelpBlock" class="form-text">
            Example: https://localhost:20220/oauth2/login
          </div>

        </div>
        <button type="submit" class="btn btn-outline-warning">Update redirect
          uri</button>
      </form>

    </div>
  {{else}}
    <form action="/activate" method="post" class="mt-3 p-2 rounded border w-50">
      <div class="my-3">
        <label for="redirectUri" class="form-label">Redirect uri</label>
        <input
          type="text"
          id="redirectUri"
          class="form-control"
          aria-describedby="redirectUriHelpBlock"
          name="redirect_uri"
          placeholder="Enter redirect uri"
        />
        <div id="redirectUriHelpBlock" class="form-text">
          Example: https://localhost:20220/oauth2/login
        </div>

      </div>
      <button type="submit" class="btn btn-outline-warning">Activate your client
        here</button>
    </form>

  {{/if}}
</div>