<div
  class="d-flex flex-column align-items-center justify-content-center"
  style="margin-top: 100px;"
>
  <h1 class="mb-3">Login Using Oauth2 Server</h1>
  <form method="post">
    <div class="mb-3">
      <label for="max-minutes" class="form-label">Chọn số phút tối đa cho ghi
        nhớ đăng nhập</label>
      <input
        type="number"
        class="form-control"
        id="max_minutes"
        name="max_minutes"
        value="123"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Sign in with Auth Server</button>
  </form>
</div>